.Button__main {
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: max-content;
  align-self: center;
}

.PlusButton__Img {
  width: 30px;
}

.Button__text {
  font-size: 10px;
}

.Button__main:hover {
  cursor: pointer;
}
/**
  square vs round - shape of the button
**/
.square {
  border-radius: 0px;
}

.round {
  border-radius: 30px;
}

.white-text {
  color: white;
}

.green-text {
  color: var(--green-0);
}

.black-text {
  color: black;
}
.green-fill {
  background-color: var(--green-0);
  border: 2px solid var(--green-0);
}

.white-fill {
  background-color: white;
  border: 2px solid var(--green-0);
}

.text-size-36 {
  font-size: 36px;
}

