html * {
  font-family: Roboto;
}
:root {
  --white: #ffffff;
  --green-0: #18a96c;
  --dark-charcoal-grey: #333333;
  --super-light-grey: #ededed;
  --burgundy: #a92e18
}

body {
  margin: 0;
}

.roboto {
  font-family: Roboto;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
}

.white-background {
  background-color: white;
}

.flex-right {
  justify-content: right;
}
.flex {
  display: flex;
}

.color-crimson-red {
  color: #CA3433
}
.menu-hover-color {
  color: var(--super-light-grey);
}

.MenuModal {
  position: absolute;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

.right-padding-1rem {
  padding-right: 1rem;
}

.right-margin-1rem {
  margin-right: 1rem;
}
.modal__main {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  left: 0px;
  top: 0px;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.no-list-bullets {
  list-style-type: none;
}
.thin-border-black {
  border: 2px solid black;
}
.black-thin-border {
  border: 1px solid black;
}

.top-padding {
  padding-top: 0.5rem;
}

.slight-right-margin {
  margin-right: 20px;
}

.slight-left-margin {
  margin-left: 20px;
}

.faded-italic-text {
  color: grey;
  font-style: italic;
}

.bold-header {
  font-weight: bold;
}
