html * {
  font-family: Roboto;
}
:root {
  --white: #FFFFFF;
  --green-0: #18A96C;
  --dark-charcoal-grey: #333333;
  --super-light-grey: #EDEDED;
}

body { margin: 0; } 

.roboto {
  font-family: Roboto;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
}

.flex {
  display: flex;
}

.menu-hover-color {
  color: var(--super-light-grey);
}

.MenuModal {
  position:  absolute;
  left: 0px;
  width: 100vw;
  height: 100vh;
}
